Source: wmmount
Section: utils
Priority: optional
Maintainer: Josip Rodin <jrodin@jagor.srce.hr>
Build-Depends: debhelper, xlib6g-dev, libxpm4-dev
Standards-Version: 3.2.1

Package: wmmount
Architecture: any
Depends: ${shlibs:Depends}
Suggests: wmaker
Description: mount utility and free space monitoring tool, NeXTStep-like
 wmmount can be used to mount and unmount floppies, CD-ROM's, ZIP drives,
 and file systems in general. It also displays the amount of free space
 on the file system. It is very customizable and runs on a 64x64 window.
 .
 There's nothing in the program that makes it *require* WindowMaker,
 i.e. it works great with other window managers. But if you are looking
 for seamless integration on your desktop, wmmount may very well suit
 your needs.
