#!/usr/bin/make -f
# Derived from Marcelo's file, and dh_make's example.

#export DH_VERBOSE=1
export DH_COMPAT=4
tmp := $(CURDIR)/debian/wmmount

CFLAGS := -g -Wall -fno-strength-reduce
ifeq "$(findstring noopt,$(DEB_BUILD_OPTIONS))" ""
CFLAGS += -O2
else
CFLAGS += -O0
endif

build: build-stamp
build-stamp:
	dh_testdir
	xmkmf
	$(MAKE) CDEBUGFLAGS="$(CFLAGS)"
	perl -pi -e 's:/usr/X11R6/lib/X11/:/usr/share/:g' \
          < config/system.wmmount.eg > sample.wmmount
	touch $@

clean:
	dh_testdir
	dh_testroot
	[ ! -f Makefile ] || $(MAKE) clean
	dh_clean Makefile build-stamp sample.wmmount

binary-indep:
# There are no architecture-independent files here.

binary-arch: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs usr/bin usr/share/wmmount
	$(MAKE) install install.man \
          DESTDIR=$(tmp) BINDIR=/usr/bin MANPATH=/usr/share/man
	install -m 644 lib/* $(tmp)/usr/share/wmmount
	install -m 755 debian/gen-wmmountrc $(tmp)/usr/bin
	install -m 644 debian/gen-wmmountrc.1 $(tmp)/usr/share/man/man1
	dh_installdocs README
	dh_installchangelogs
	dh_installexamples sample.wmmount config/system.wmmount.sh
	dh_installmenu
ifeq "$(findstring nostrip,$(DEB_BUILD_OPTIONS))" ""
	dh_strip
endif
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
